/* CreateReport.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #122533;
    color: #ecf0f1;
}


.create-report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.create-report-content {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 1000px;
    max-width: 600px; /* Aumentar el ancho máximo */
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8em; /* Aumentar el tamaño de la fuente */
}

.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.p-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.p-field label {
    margin-bottom: 5px;
    color: #2c3e50;
    font-weight: bold;
}

.p-field input,
.p-field textarea {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.p-field input:focus,
.p-field textarea:focus {
    outline: none;
    border-color: #3498db;
}

.p-field textarea {
    resize: none;
}

.error-input {
    border: 1px solid red;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.button-container.centered {
    justify-content: center;
}

.nav-button,
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 12px 20px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    background-color: #3E9DC2;
    color: white;
    cursor: pointer;
    width: 45%;
    transition: background-color 0.3s;
}

.nav-button:hover,
.submit-button:hover {
    background-color: #3498db;
}

.submit-button {
    background-color: #122533;
}

.submit-button:hover {
    background-color: #0e1d2b;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 2px;
}



@media (max-width: 768px) {
    .create-report-content {
        width: 100%;
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-button,
    .submit-button {
        width: 100%;
    }
}
