/* src/views/Home.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-welcome {
  flex-grow: 1;
  text-align: left;
  font-size: 24px;
  color: #2c3e50;
  padding-left: 20px;
}

.home-welcome h1 {
  font-weight: bold;
  font-size: 2.1em;
}

.home-welcome h1 span {
  color: #3E9DC2;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}

.profile-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.home-main {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-section {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  max-width: 850px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.search-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #666;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.recommendations {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  color: #3E9DC2;
}

.templates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.template {
  background-color: #f5f5f5;
  width: 120px;
  height: 170px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
}

.template img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.template button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/* Media Queries para hacer la página más responsiva */
@media (max-width: 768px) {
  .home-header, .home-main, .search-section {
      padding: 15px;
  }

  .home-welcome {
      font-size: 20px;
      padding-left: 10px;
  }

  .home-welcome h1 {
      font-size: 1.8em;
  }

  .profile-icon {
      width: 60px;
      height: 60px;
  }

  .home-main {
      font-size: 1em;
  }

  .search-section {
      width: 100%;
  }

  .templates {
      flex-direction: column;
      align-items: center;
  }

  .template {
      width: 90px;
      height: 140px;
      margin: 5px;
  }

  .template img {
      width: 70px;
      height: 70px;
      margin-bottom: 5px;
  }
}
