.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 35px; /* Bordes redondeados */
  text-align: center;
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1.3); /* Sombra en el lado derecho */
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.document-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
}

.document-preview-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.right-section h2 {
  margin-bottom: 20px;
  color: #122533; /* Azul oscuro */
  font-size: 1.8rem; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra de texto */
  font-family: 'Poppins', sans-serif; /* Tipo de letra */
}


.button-container {
  display: flex;
  gap: 10px;
  align-items: center; /* Asegura que los botones estén alineados verticalmente */
}

.create-report-button {
  padding: 10px 20px;
  background-color: #3E9DC2; /* Ajustar el color */
  color: white;
  border: none;
  border-radius: 10px; /* Ajustar el borde */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}

.close-modal-button {
  width: 40px;
  height: 40px;
  background-color: #122533; /* Ajustar el color */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra */
}
