.template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.template:hover {
  background-color: #f0f0f0;
}

.template-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  font-size: 16px;
}

.remove-button:hover {
  color: #d00000;
}
